[user]
	name = lijinghui
	email = lijinghui6@gomecloud.com
[core]
	editor = vim
	autocrlf = input
[alias]
    logm = log --no-merges --color --date=format:'%Y-%m-%d %H:%M:%S' --author='lijinghui' --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Cblue %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --decorate
    logms = log --no-merges --color --date=format:'%Y-%m-%d %H:%M:%S' --author='lijinghui' --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Cblue %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --decorate --stat
    logs = log --no-merges --color --graph --date=format:'%Y-%m-%d %H:%M:%S' --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Cblue %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --decorate
    logss = log --no-merges --color --graph --date=format:'%Y-%m-%d %H:%M:%S' --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Cblue %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --decorate --stat
    logg = log --graph --pretty=oneline --abbrev-commit --decorate
[push]
	default = simple
[init]
	templatedir = /home/jing/.git-templates
